<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from inkthemes.com/wpthemes/online-examination-wordpress-theme/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jun 2017 09:55:51 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.php" />
    <title>Exams</title>
    <meta name='robots' content='noindex,follow' />
    <!--<link rel='dns-prefetch' href='http://inkthemes.com/' />
    <link rel='dns-prefetch' href='http://www.google.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Online Examination WordPress Theme  &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Online Examination WordPress Theme  &raquo; Comments Feed" href="comments/feed/index.html" />-->
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5" } };
        !function (a, b, c) { function d(a) { var b, c, d, e, f = String.fromCharCode; if (!k || !k.fillText) return !1; switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) { case "flag": return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c); case "emoji4": return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d"); for (i = Array("flag", "emoji4"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='leadcapture_front_style-css' href='~/Content/wp-content/plugins/inkleadscapturepro/css/leads-front66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='leadcapture_custom_color-css' href='~/Content/wp-content/plugins/inkleadscapturepro/css/colors/pink66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='cal-css-ui-css' href='~/Content/wp-content/plugins/inkappointmentpro/ink-admin/js/cal-front/jquery-ui66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='ink-form-css-css' href='~/Content/wp-content/plugins/inkappointmentpro/ink-admin/css/ink-form66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='"~/Content/assets/css/woocommerce-layout32bb.css?ver=2.6.14' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='"~/Content/assets/css/woocommerce-smallscreen32bb.css?ver=2.6.14' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='"~/Content/assets/css/woocommerce32bb.css?ver=2.6.14' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-bootstrap-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/bootstrap66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-fontawesome-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/font-awesome66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-animate-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/animate66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-reset-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/reset66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-style-css' href='~/Content/wp-content/themes/gommero-pro/style66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-raleway-font-css' href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C100%2C200%2C300%2C500%2C600%2C700%2C800%2C900&amp;ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-shortcode-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/shortcode66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-flexslider-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/flexslider66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-prettyphoto-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/prettyphoto66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-mean-menu-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/mean-menu66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-shortcodes-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/shortcode66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-woocommerce-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/woocommerce66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-gallery-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/gallery66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-ddsmoothmenu-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/ddsmoothmenu66f2.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='gommero-responsive-css' href='~/Content/wp-content/themes/gommero-pro/assets/css/responsive66f2.css?ver=4.7.5' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/inkappointmentpro/ink-admin/js/cal-front/jquery-ui66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/inkappointmentpro/ink-admin/js/ink-required66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='../../../www.google.com/recaptcha/api66f2.js?ver=4.7.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var script_call = { "ajaxurl": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-admin\/admin-ajax.php" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/inkappointmentpro/ink-admin/js/ink-apt-ajax66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/bootstrap66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/jquery.prettyphoto66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/zoombox66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/jquery.flexslider66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/jquery.validate.min66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/verif66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/jquery.meanmenu66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/slides.min.jquery66f2.js?ver=4.7.5'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/jquery.bxslider66f2.js?ver=4.7.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var customobject = { "menu_status": "normal" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/ddsmoothmenu66f2.js?ver=4.7.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var image_size = { "height": "38" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/themes/gommero-pro/assets/js/custom66f2.js?ver=4.7.5'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.7.5" />
    <meta name="generator" content="WooCommerce 2.6.14" />
    <!-- <meta name="NextGEN" version="2.1.77" /> -->
    <link rel="shortcut icon" href="~/Content/wp-content/uploads/sites/504/2016/12/fevicon.png" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='nextgen_widgets_style-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/widget/static/widgets.minca8e.css?ver=2.1.77' type='text/css' media='all' />
    <link rel='stylesheet' id='nextgen_basic_thumbnails_style-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_basic_gallery/static/thumbnails/nextgen_basic_thumbnails.minca8e.css?ver=2.1.77' type='text/css' media='all' />
    <link rel='stylesheet' id='ngg_trigger_buttons-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_gallery_display/static/trigger_buttons.minca8e.css?ver=2.1.77' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-0-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/fancybox/jquery.fancybox-1.3.4.minca8e.css?ver=2.1.77' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_gallery_display/static/fontawesome/font-awesome.min1c9b.css?ver=4.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='nextgen_pagination_style-css' href='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_pagination/static/style.minca8e.css?ver=2.1.77' type='text/css' media='all' />
</head>
<body class="home blog">
    <!--Start Content bg-->
    <div class="content_bg">
        <!--Start Wrapper-->
        <div class="wrapper ">
            <!--Start Container-->
            <!--<div class="container">-->
            <!--Start Content wrapper-->
            <div class="content_wrapper">
                <!--Start Main Content-->
                <div class="main_content">
                    <div class="header-wrap">
                        <div class="container">
                            <div class="row header-wrapper">
                                <div class="header col-md-3">
                                    <div class="logo">
                                        <a href="#">
                                            <img class="aligncenter" src="~/Content/Ebonyi.png" alt="Online Examination WordPress Theme " />
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <section>

                                    <div>
                                  
                                        @RenderBody()
                                     
                                    </div><!--end .section-body -->
                                </section>


                                <div class="menu_wrapper col-md-9">
                                    <div id="MainNav">
                                        <!--<a href="#" class="mobile_nav closed">Pages Navigation Menu<span></span></a>-->
                                        <div id="menu" class="menu-menu-1-container">
                                            <ul id="menu-menu-1" class="ddsmoothmenu">
                                                <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-38"><a href="index.html">Home</a></li>
                                                <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-129">
                                                    <a href="#">Solutions</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="govt-psus/index.html">Schools &amp; Olympiads</a></li>
                                                        <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="colleges-universities/index.html">Colleges &amp; Universities</a></li>
                                                        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="educationalcoaching-institutions/index.html">Educational Institutions</a></li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="blog/index.html">Blog</a></li>
                                                <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="gallery/index.html">Gallery</a></li>
                                                <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="faq/index.html">FAQ</a></li>
                                                <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="about-us/index.html">About Us</a></li>
                                                <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="contact-us/index.html">Contact Us</a></li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Menu wrapper-->
    <div class="clear"></div>
    <!--<div class="double_line"></div>--><div class="slider_wrapper">
        <div id="slides">
            <div class="slides_container">
                <div class="layered_slider">
                    <div class="slider_container">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-1.jpg" class="img-responsive" alt="Round The Clock Support">

                                    <div class="container">
                                        <div class="carousel-caption container right">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInRight">Round The Clock Support</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInLeft">We Will Make You Feel The Comfort Of Running Exam Online</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="faq/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-2.jpg" class="img-responsive" alt="Smart Device Support">

                                    <div class="container">
                                        <div class="carousel-caption container left">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInLeft">Smart Device Support</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInRight">Enjoy The Power Of Running Exams Anytime, Anywhere Using You Smart Devices</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="blog/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-3.jpg" class="img-responsive" alt="Solved Video Solutions">

                                    <div class="container">
                                        <div class="carousel-caption container right">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInRight">Solved Video Solutions</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInLeft">Our Solution Sheet Are Explained In Detail To Understand Each Part Of The Assessment</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="gallery/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-4.jpg" class="img-responsive" alt="Practice Online Exam">

                                    <div class="container">
                                        <div class="carousel-caption container left">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInLeft">Practice Online Exam</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInRight">Our Unique Designed Practice Module Help You To Gain Knowledge Even When You Are Giving Exams</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="about-us/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-5.jpg" class="img-responsive" alt="SMS &amp; Email Notification">

                                    <div class="container">
                                        <div class="carousel-caption container right">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInRight">SMS &amp; Email Notification</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInLeft">We Will Update You Wherever You Are In The World With Our World Class Notification Platform</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="contact-us/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-6.jpg" class="img-responsive" alt="Choose Your Own Language">

                                    <div class="container">
                                        <div class="carousel-caption container left">
                                            <div class="carousel-text">
                                                <h1 class="animated bounceInLeft">Choose Your Own Language</h1>
                                                <ul class="list-unstyled carousel-list">
                                                    <li class="animated bounceInRight">Change Your Exams In Your Local Language Even During The Exam With Lightning Speed</li>
                                                </ul>
                                                <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="2016/12/07/10-study-tips-to-achieve-your-goals/index.html" role="button">Get Started !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div><!-- /.carousel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <!--End Container-->
    <!-- ngg_resource_manager_marker -->
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View Cart", "cart_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme", "is_cart": "", "cart_redirect_after_add": "no" };
/* ]]> */
    </script>
    <script type='text/javascript' src='"~/Content/assets/js/frontend/add-to-cart.min32bb.js?ver=2.6.14'></script>
    <script type='text/javascript' src='"~/Content/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/?wc-ajax=%%endpoint%%" };
/* ]]> */
    </script>
    <script type='text/javascript' src='"~/Content/assets/js/frontend/woocommerce.min32bb.js?ver=2.6.14'></script>
    <script type='text/javascript' src='"~/Content/assets/js/jquery-cookie/jquery.cookie.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wpthemes\/online-examination-wordpress-theme\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
/* ]]> */
    </script>
    <script type='text/javascript' src='"~/Content/assets/js/frontend/cart-fragments.min32bb.js?ver=2.6.14'></script>
    <script type='text/javascript' src='wp-includes/js/wp-embed.min66f2.js?ver=4.7.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var photocrati_ajax = { "url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/?photocrati_ajax=1", "wp_home_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme", "wp_site_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme", "wp_root_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme", "wp_plugins_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-content\/plugins", "wp_content_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-content", "wp_includes_url": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-includes\/", "ngg_param_slug": "nggallery" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/ajax/static/ajax.minca8e.js?ver=2.1.77'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */

        var galleries = {};
        galleries.gallery_94db255d22b9b676b8b80bb528c9adbd = { "id": null, "source": "recent", "container_ids": [], "gallery_ids": [], "album_ids": [], "tag_ids": [], "display_type": "photocrati-nextgen_basic_thumbnails", "exclusions": [], "order_by": "sortorder", "order_direction": "ASC", "image_ids": [], "entity_ids": [], "tagcloud": false, "returns": "included", "slug": "widget-ngg-images-2", "sortorder": [], "display_settings": { "use_lightbox_effect": true, "images_per_page": 8, "number_of_columns": 0, "thumbnail_width": 240, "thumbnail_height": 160, "show_all_in_lightbox": false, "ajax_pagination": 0, "use_imagebrowser_effect": false, "template": "\/var\/www\/html\/wpthemes\/wp-content\/plugins\/nextgen-gallery\/products\/photocrati_nextgen\/modules\/widget\/templates\/display_gallery.php", "display_no_images_error": 1, "disable_pagination": true, "show_slideshow_link": false, "slideshow_link_text": "[Show slideshow]", "override_thumbnail_settings": 0, "thumbnail_quality": "100", "thumbnail_crop": 1, "thumbnail_watermark": 0, "ngg_triggers_display": "never", "maximum_entity_count": 8, "image_type": "thumb", "show_thumbnail_link": false, "image_width": 70, "image_height": 75, "widget_setting_title": "Gallery", "widget_setting_before_widget": "<aside id = \"ngg-images-2\" class = \"wrap_footer widget ngg_images\"><div class=\"hslice\" id=\"ngg-webslice\">", "widget_setting_before_title": "<h4>", "widget_setting_after_widget": "<\/div><\/aside>", "widget_setting_after_title": "<\/h4>", "widget_setting_width": 70, "widget_setting_height": 75, "widget_setting_show_setting": "thumbnail", "widget_setting_widget_id": "ngg-images-2" }, "excluded_container_ids": [], "maximum_entity_count": 8, "__defaults_set": true, "_errors": [], "ID": "94db255d22b9b676b8b80bb528c9adbd" };
        galleries.gallery_94db255d22b9b676b8b80bb528c9adbd.wordpress_page_root = "index.html\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/2016\/12\/07\/10-study-tips-to-achieve-your-goals\/";
        var nextgen_lightbox_settings = { "static_path": "https:\/\/inkthemes.com\/wpthemes\/online-examination-wordpress-theme\/wp-content\/plugins\/nextgen-gallery\/products\/photocrati_nextgen\/modules\/lightbox\/static", "context": "nextgen_images" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_gallery_display/static/common.minca8e.js?ver=2.1.77'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_basic_gallery/static/thumbnails/nextgen_basic_thumbnails.minca8e.js?ver=2.1.77'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/lightbox_context.minca8e.js?ver=2.1.77'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/fancybox/jquery.easing-1.3.packca8e.js?ver=2.1.77'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/fancybox/jquery.fancybox-1.3.4.packca8e.js?ver=2.1.77'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/fancybox/nextgen_fancybox_init.minca8e.js?ver=2.1.77'></script>
    <script type="text/javascript">
        ///*--------DDsmoothmenu Initialization--------*/
        if (customobject.menu_status == 'normal') {
            ddsmoothmenu.init({
                mainmenuid: "menu", //menu DIV id
                orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
                classname: 'ddsmoothmenu', //class added to menu's outer DIV
                //customtheme: ["#1c5a80", "#18374a"],
                contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
            });
        }
    </script>

</body>
<!-- Mirrored from inkthemes.com/wpthemes/online-examination-wordpress-theme/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jun 2017 09:57:24 GMT -->
</html>
