@{
    ViewBag.Title = "Home Page";
    
         Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="content_bg">
    <!--Start Wrapper-->
    <div class="wrapper ">
        <!--Start Container-->
        <!--<div class="container">-->
        <!--Start Content wrapper-->
        <div class="content_wrapper">
            <!--Start Main Content-->
            <div class="main_content">
                <div class="header-wrap">
                    <div class="container">
                        <div class="row header-wrapper">
                            <div class="header col-md-3">
                                <div class="logo">
                                    <a href="#">
                                        <img class="aligncenter" src="~/Content/Ebonyi.png" alt="Online Examination WordPress Theme " />
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>

                            @*<section>

                                <div>
                                  
                               
                                     
                                </div>end .section-body 
                            </section>*@


                            <div class="menu_wrapper col-md-9">
                                <div id="MainNav">
                                    <!--<a href="#" class="mobile_nav closed">Pages Navigation Menu<span></span></a>-->
                                    <div id="menu" class="menu-menu-1-container">
                                        <ul id="menu-menu-1" class="ddsmoothmenu">
                                            <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-38"><a href="index.html">Home</a></li>
                                            <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-129">
                                                <a href="#">Solutions</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="govt-psus/index.html">Schools &amp; Olympiads</a></li>
                                                    <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="colleges-universities/index.html">Colleges &amp; Universities</a></li>
                                                    <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="educationalcoaching-institutions/index.html">Educational Institutions</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="blog/index.html">Blog</a></li>
                                            <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="gallery/index.html">Gallery</a></li>
                                            <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="faq/index.html">FAQ</a></li>
                                            <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="about-us/index.html">About Us</a></li>
                                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="@Url.Action("Login","Account")">Login</a></li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Menu wrapper-->
<div class="clear"></div>
<!--<div class="double_line"></div>--><div class="slider_wrapper">
    <div id="slides">
        <div class="slides_container">
            <div class="layered_slider">
                <div class="slider_container">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-1.jpg" class="img-responsive" alt="Round The Clock Support">

                                <div class="container">
                                    <div class="carousel-caption container right">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInRight">Round The Clock Support</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft">We Will Make You Feel The Comfort Of Running Exam Online</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="faq/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-2.jpg" class="img-responsive" alt="Smart Device Support">

                                <div class="container">
                                    <div class="carousel-caption container left">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInLeft">Smart Device Support</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInRight">Enjoy The Power Of Running Exams Anytime, Anywhere Using You Smart Devices</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="blog/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-3.jpg" class="img-responsive" alt="Solved Video Solutions">

                                <div class="container">
                                    <div class="carousel-caption container right">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInRight">Solved Video Solutions</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft">Our Solution Sheet Are Explained In Detail To Understand Each Part Of The Assessment</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="gallery/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-4.jpg" class="img-responsive" alt="Practice Online Exam">

                                <div class="container">
                                    <div class="carousel-caption container left">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInLeft">Practice Online Exam</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInRight">Our Unique Designed Practice Module Help You To Gain Knowledge Even When You Are Giving Exams</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="about-us/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-5.jpg" class="img-responsive" alt="SMS &amp; Email Notification">

                                <div class="container">
                                    <div class="carousel-caption container right">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInRight">SMS &amp; Email Notification</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft">We Will Update You Wherever You Are In The World With Our World Class Notification Platform</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="contact-us/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <img src="~/Content/wp-content/uploads/sites/504/2016/12/Slider-6.jpg" class="img-responsive" alt="Choose Your Own Language">

                                <div class="container">
                                    <div class="carousel-caption container left">
                                        <div class="carousel-text">
                                            <h1 class="animated bounceInLeft">Choose Your Own Language</h1>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInRight">Change Your Exams In Your Local Language Even During The Exam With Lightning Speed</li>
                                            </ul>
                                            <a class="enigma_blog_read_btn animated bounceInUp slider-btn2" href="2016/12/07/10-study-tips-to-achieve-your-goals/index.html" role="button">Get Started !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!-- /.carousel -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>