
@media only screen and (max-width: 1200px){
    .blog-block .figure p {
        line-height: 1.3em;
    }
    .figure.effect-animate .figcaption{
        padding: 2.5em;
    }
    .header-wrap {
        /*padding: 0;*/
    }
    .home .header-wrap .logo img {
        margin: 0 auto;
        /*margin-top: 10px;*/
    }
    #main_menu .mega-menu{
        text-align: center;
    }
    #main_menu .mega-menu li a{
        padding: 12px 18px;
    }
}
@media only screen and (max-width: 992px){
    .header-wrap .header-wrapper{
        display: block;
        padding: 0 !important;
    }
    .header-wrapper .logo, .menu-container {
        position: initial;
        transform: initial;
    }
    .slider_container .carousel-caption h1{
        font-size: 28px;
    }
    .slider_container .carousel-caption .carousel-list li{
        font-size: 18px;
    }
    .testimonial h1 {
        font-size: 32px;
    }
    .slider_container .carousel-caption.left ,
    .slider_container .carousel-caption.right {
        top: 11%;
    }
    .feature_content .feature-content-box {
        text-align: center;
    }
    .full_cols {
        text-align: center;
    }
    .footer_wrapper .inner {
        padding: 0 20px 0 20px;
        text-align: center;
    }
    .sidebar_wrapper .sidebar{
        padding-left: 0;
        margin-top: 40px;
    }
    #contactForm input[type='submit']{
        float: none;
    }
    #contactForm{
        text-align: center;
    }
    .home .header-wrap .logo img {
        max-width: 70%;
        margin: 0 auto;
        /* margin-top: 10px; */
    }
    .header-wrap .logo img {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 960px) {
    #main_menu .mega-menu li{
        width: auto;
    }
    #main_menu .mega-menu .menu-dropdown-icon:before{
        display: none;
    }
}
/* This query is applied for protait Tablet ipad
*/
@media only screen and (min-width: 767px) and (max-width: 960px) {
    /*    #menu .ddsmoothmenu {
            padding-bottom: 5px;
            width:95%;
            margin-bottom:5px;
            float: left;
        }*/
    .gallery ul.thumbnail {
        margin-left:-15px;
    }
    .gallery h1 {
        text-align:center;
    }
    .contactform input, .contactform textarea, .contactform label {
        margin-bottom: 10px;
    }
    #searchform #s {
        width:145px;
    }
    #main_menu .mega-menu li a{
        display: inline;
    }
}

@media only screen and (min-width: 767px){
    #main_menu .mega-menu{
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .feature_content .feature .inner,
    .content_wrap .content,
    .sidebar_wrapper .sidebar,
    .footer_wrapper,
    .full_cols{
        text-align: center;
    }
    .content_wrap .content .post .read_more{
        display: inline-block;
        float: none;
    }
    .content_wrap .content .post .post_content img.postimg{
        float: none;
    }
    #wp-calendar{
        margin: 0 auto;
    }
    ul.paging{
        float: none;
    }
    .content_wrap .content .post .post_content li,ol.commentlist li{
        list-style-position: inside;
    }
    .logo{
        margin-bottom: 20px;
    }
    .logo img{
        margin: 35px auto;
    }
    /*=======================================================*/
    /*--------------------MEAN MENU--------------------------*/
    /*=======================================================*/

    .mean-container .mean-nav ul li li{
        margin: 0;
    }
    .mean-container .mean-nav ul li a.mean-expand{
        padding: 6px !important;
        right: 7px;
    }
    .rightarrowclass{
        background: none;
    }
    .mean-container .mean-bar{
        margin-bottom: 30px;
    }
    .slider_container .carousel-caption h1 {
        font-size: 18px;
    }
    .slider_container .carousel-caption .carousel-list li {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .slider_container .carousel-caption.left ,
    .slider_container .carousel-caption.right {
        top: 8%;
    }
    .testimonial h1 {
        font-size: 30px;
    }
    .testimonial .page_info p{
        font-size: 18px;
    }
    .mean-container .mean-nav ul li a,
    .mean-container .mean-nav ul li li a,
    .mean-container .mean-nav ul li li li a,
    .mean-container .mean-nav ul li li li li a,
    .mean-container .mean-nav ul li li li li li a{
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
    .mean-container .mean-nav ul li a{
        font-size: 14px;
    }
    .menu-dropdown-icon:before{
        display: initial;
    }
    div#crumbs {
        text-align: center;
    }
    .header-wrap{
        position: initial;
    }
    .slider_wrapper,.breadcrumb-wrapper {
        margin-top: 0 !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #mobile_menu {
        width: 318px;
        text-align:center;
        margin-left:0;
    }
    .mobile_nav {
        width:250px;
        margin-bottom:0;
        margin-top:15px;
    }
    ul.ddsmoothmenu {
        display: none;
    }
    .it_mobile_menu a {
        display: block;
        padding-left:0px;
        color: #3B3B3B;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /*.header .logo*/
    .header_wrapper .logo {
        text-align:center;
        margin:20px 0 21px 0px;
    }
    li.depth-4 ul.children {
        padding-left: 0;
    }
    #menu li {
        float:none !important;
    }
    #MainNav {
        text-align:center;
    }
    .header .menu-bar {
        border-top:0;
        border-bottom:0;
    }
    .gallery ul.thumbnail {
        margin-left:5px;
    }
    .gallery h1 {
        text-align:center;
    }
    .contactform input, .contactform textarea, .contactform label {
        margin-bottom: 10px;
    }
    .sidebar_wrapper .sidebar ul li a {
        font-size:13px;
        color:#3a2d17;
    }
    .content_wrap .content .post .post_meta {
        height:auto;
        padding-top:8px;
        padding-bottom:8px;
        height:auto;
    }
    .slider_wrapper {
        margin-bottom:15px;
        /*padding-top:30px;*/
    }
    #slides {
        position:relative;
        z-index:80;
    }
    .slides_container {
        overflow:hidden;
        position:relative;
        display:none;
    }
    .slides_container {
        display:block;
        height:265px;
    }
    .sidebar_wrapper .textwidget,
    .sidebar_wrapper .tagcloud {
        width:65%;
    }
    .contactform input, .contactform textarea, .contactform label {
        margin-bottom: 10px;
    }
    textarea#comment ,#commentform input[type="text"]{
        /*width:70%;*/
    }
    #commentform input[type="submit"]{
        float: none;
    }
}

/* This query is applied for protait ipad, Mobile
*/
@media only screen and (max-width: 480px) {
    li.depth-4 ul.children {
        padding-left: 0;
    }
    #menu li {
        float:none !important;
    }
    #MainNav {
        text-align:center;
    }
    .header .menu-bar {
        border-top:0;
        border-bottom:0;
    }
    .gallery h1 {
        text-align:center;
    }
    .contactform input[type="text"], .contactform textarea {
        width:100%;
    }
    .contactform input, .contactform textarea, .contactform label {
        margin-bottom: 10px;
    }
    .content_wrap .content_wrapper{
        margin-bottom: 40px;
    }
    .content_wrap .content .post .post_meta {
        padding-top:8px;
        padding-bottom:8px;
        height:auto;
    }
    #searchform #s {
        width:170px;
    }
    a img.alignnone {
        width:230px;
    }
    .slider_wrapper {
        margin-bottom:15px;
        /*padding-top:30px;*/
    }
    #slides {
        position:relative;
        z-index:80;
        height: auto;
    }
    .slides_container {
        position:relative;
        display:none;
    }
    .slides_container {
        display:block;
        height:200px;
    }
    .feature_content .feature .feature_title {
        background:url(images/featureheading.html) no-repeat;
        height:39px;
        color:#FFFFFF;
        padding-left:10px;
        padding-top:5px;
        text-align:center;
        margin-bottom:0;
        font-weight:normal;
    }
    #commentform input[type="text"] {
        width: 90%;
    }
    textarea#comment {
        width: 95%;
        margin-left: 0px;
    }
    #respond input#commentSubmit {
        margin-left: 0;
    }
    .footer_wrapper #searchform #s {
        background:url(images/searchbg-ipad.html) no-repeat;
        width:155px;
    }
    #searchform #s {
        width:160px;
    }
    #respond input {
        margin: 0 10px 10px 0;
    }
    .slider_container .carousel-caption h1 {
        font-size: 15px;
    }
    .slider_container .carousel-caption .carousel-list li,
    .slider_container .carousel-caption a{
        display: none;
    }
    .blog-section .home-blog-wrapper{
        display:block;
    }
    ol.commentlist li ul.children li.depth-3,
    ol.commentlist li ul.children li.depth-4,
    ol.commentlist li ul.children li.depth-5,
    ol.commentlist li ul.children li.depth-6{
        margin-left: 0;
    }
}
