
@{
    ViewBag.Title = "UploadStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="btn btn-primary" href="~/Excel Template/KStudentUpload.xlsx"> Download Excel Template</a>
    <h2>Upload Student Record</h2>

    @using (Html.BeginForm("UploadStudent", "Students", FormMethod.Post, new { enctype = "multipart/form-data", id = "theform" }))
    {
        @Html.Raw(ViewBag.Error)
        <span>Excel File </span> <input type="file" name="excelfile" />
        <br />
        <input id="btnsubmit" type="submit" value="Upload Student Record" class="btn btn-primary" />
    }

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#theform').submit(function () {
                $("input[type='submit']", this)
                    .val("Uploading Please Wait...")
                    .attr('disabled', 'disabled');
                return true;
            });
        });
    </script>

